@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    padding-bottom: 85px;
}

.white_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 535px;
    width: 327px;
    border-radius: 23px;
    margin-top: 148px;
    overflow: visible;
}

h1{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #1E1F36;
    margin-top: 20px;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.accordion{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #4B4C5F;
    background: transparent;
    cursor: pointer;
    border: 0;
    margin-top: 19px;
}

.accordion:hover{
    color: #F47B56;
}

.line{
    height: 1px;
    width: 279px;
    background: #E8E8EA;
    margin-top: 18px;
}






.invite_members,
.file_upload,
.password_reset,
.subscription,
.support{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
}


.arrow{
    margin-top: 22.8px;
    display: block;
}

.arrow_active{
    display: none;
    margin-top: 22.8px;
    transform: rotate(180deg);
}



.woman{
    margin-top: -108px;
    height: 180px;
    width: 237px;
}

.shadow{
    margin-top: -75px;
}

.woman-desktop,
.shadow-desktop,
.orange_box_desktop{
    display: none;
}

.faq{
    display: flex;
    justify-content: center;
}

.answers{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #787887;
    margin-top: 13px;
    width: 269px;
}


.answers{
    display: none;
}













@media only screen and (min-width: 1440px){
    .white_box{
        flex-direction: row;
        height: 509px;
        width: 920px;
        align-items: flex-start;
        overflow: hidden;
        margin-top: 129px;
    }

    .accordion{
        font-size: 14px;
        line-height: 17px;
    }

    h1{
        margin: 0;
    }

    .woman-desktop{
        display: block;
        margin-left: -83px;
        margin-top: 70px;
    }

    .shadow-desktop{
        display: block;
        margin-left: -960px;
        margin-top: -300px;
    }

    .buttons{
        margin-top: 30px;
    }

    .woman,
    .shadow{
        display: none;
    }

    .faq{
        height: 32px;
    }

    .faq_buttons{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 65px;
        margin-left: 88.16px;
    }

    .line{
        width: 350px;
    }

    .orange_box_desktop{
        display: block;
        position: relative;
        margin-right: -100px;
        margin-top: 206px;
    }

    .answers{
        width: 340px;
        display: none;
    }
}